## Regresión múltiple

- Normalización: Para normalizar los datos de entrada
    - Estandarización estadística
    - MinMaxScaler -> [0;1]

### Estratificación

### train_test_split

Es una función incluida en sklearn que sirve para dividir vectores, matrices o tensores en subconjuntos **aleatoria**

Estándar de estratificación: 70-75% pruebas y 30-25% para test

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../datasets/advertising.csv')

In [9]:
df.head()

      TV  Radio  Newspaper  Sales City_size
0  230.1   37.8       69.2   22.1       big
1   44.5   39.3       45.1   10.4     small
2   17.2   45.9       69.3    9.3     small
3  151.5   41.3       58.5   18.5       big
4  180.8   10.8       58.4   12.9     small

In [5]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [10]:
df.head()

      TV  Radio  Newspaper  Sales City_size
0  230.1   37.8       69.2   22.1       big
1   44.5   39.3       45.1   10.4     small
2   17.2   45.9       69.3    9.3     small
3  151.5   41.3       58.5   18.5       big
4  180.8   10.8       58.4   12.9     small

In [11]:
df.drop(columns=['City_size'],inplace=True)

In [13]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score # r2_score es r2 ajustado -> penaliza la cantidad de features

In [23]:
# X = df[['TV','Radio','Newspaper']]
X = df.drop(columns=['Sales'])
y = df['Sales']

In [ ]:
# Importante el orden

In [42]:
X_train, X_test, Y_train, Y_test= train_test_split(X,y,train_size=.7, random_state=1) # random_state -> semilla de aleatoriedad

In [44]:
model = LinearRegression(normalize=True, fit_intercept=True) # normalize=True, fit_intercept=True

In [45]:
model.fit(X_train,Y_train)

/usr/local/lib/python3.10/site-packages/sklearn/linear_model/_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(

LinearRegression(normalize=True)

In [46]:
print("Coeficientes: ",model.coef_)
print("Ordenada al origen", model.intercept_)

Coeficientes:  [0.04695205 0.17658644 0.00185115]
Ordenada al origen 2.937215734690616

In [47]:
# t = 0.046x + 0.176y + 0.0018z + 2.93

In [50]:
y_pred = model.predict(X_test)

In [52]:
# MSE, R2

In [54]:
0.09**2

0.0081

In [56]:
mse = mean_squared_error(y_pred,Y_test)
print("MSE: ", mse)

MSE:  1.928924907466569

In [58]:
r2 = r2_score(y_pred,Y_test)
print("r2", r2)

r2 0.9160245222353564

In [59]:
pd.DataFrame(model.coef_, ['TV','RADIO','DIARIO'], columns=['Cwoefficients'])

        Coefficients
TV          0.046952
RADIO       0.176586
DIARIO      0.001851